.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-table-view .mui-table-view-cell.mui-active {
  background: #fff;
}
.mui-table-view .mui-table-view-cell {
  padding: 15px;
}
.mui-table-view .mui-table-view-cell .top-div {
  padding-bottom: 7.5px;
  display: flex;
  border-bottom: 1px solid #efefef;
}
.mui-table-view .mui-table-view-cell .top-div .tea-img {
  flex: 0 0 100px;
  width: 100px;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text {
  flex: 1;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text .tea-name {
  margin-bottom: 6px;
  color: #333;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text p {
  display: inline-block;
  line-height: 24px;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text .tea-price {
  color: #ff5400;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text span {
  font-size: 12px;
  color: #999;
}
.mui-table-view .mui-table-view-cell .top-div .tea-text span.tag {
  font-size: 12px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.mui-table-view .mui-table-view-cell .bottom-div {
  padding-top: 7.5px;
  line-height: 35px;
  font-size: 14px;
}
.mui-table-view .mui-table-view-cell .bottom-div span {
  padding: 0 15px;
}
.desc-btn {
  background: none;
  padding: 15px;
}
.desc-btn a {
  font-size: 14px;
  color: #ff5400;
}
.buy-bar {
  display: flex;
}
.buy-bar .service {
  flex: 0 0 80px;
  text-align: center;
}
.buy-bar .service .icon-cart {
  font-size: 28px;
}
.buy-bar .service p {
  font-size: 14px;
}
.buy-bar .buy-btn {
  flex: 1;
  text-align: center;
  line-height: 50px;
  background: #ff5400;
}
.buy-bar .buy-btn a {
  color: #fff;
}
