.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-toast-container {
  bottom: 50%;
}
#cart-list .mui-table-view {
  background: none;
}
#cart-list .mui-table-view .mui-table-view-cell {
  padding: 5px 15px;
  margin-bottom: 10px;
  background: #fff;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-img {
  flex: 0 0 100px;
  width: 100px;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content {
  flex: 1;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .product-name {
  padding: 6px 5px;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .prodcut-name:after {
  content: '';
  visibility: hidden;
  display: table;
  height: 0;
  clear: both;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content p {
  display: inline-block;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .name {
  font-size: 16px;
  color: #333;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .product-label span {
  font-size: 12px;
  color: #666;
  padding: 1px 3px;
  border: 1px solid #666;
  margin: 0 5px;
  border-radius: 3px;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .product-price {
  padding: 6px 5px;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .product-price .price {
  color: #ff5400;
  font-size: 14px;
}
#cart-list .mui-table-view .mui-table-view-cell .top-part .product-content .product-num {
  padding-right: 30px;
}
#cart-list .mui-table-view .mui-table-view-cell .bottom-part {
  line-height: 30px;
  height: 30px;
}
#cart-list .mui-table-view .mui-table-view-cell .bottom-part input {
  vertical-align: middle;
  left: 0;
}
#cart-list .mui-table-view .mui-table-view-cell.mui-active {
  background: #fff;
}
#cart-list .mui-table-view:first-child {
  margin-top: 0;
}
#cart-list .mui-table-view:after {
  display: none;
}
.cart-bar {
  background: #fff;
  box-shadow: none;
}
.cart-bar .order,
.cart-bar .delete {
  display: flex;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.cart-bar .order .all-sellect,
.cart-bar .delete .all-sellect,
.cart-bar .order .all-sellect-delete,
.cart-bar .delete .all-sellect-delete {
  flex: 1;
  text-align: left;
  padding: 0 15px;
}
.cart-bar .order .all-sellect label,
.cart-bar .delete .all-sellect label,
.cart-bar .order .all-sellect-delete label,
.cart-bar .delete .all-sellect-delete label {
  padding-left: 30px;
}
.cart-bar .order .all-sellect .mui-checkbox input[type='checkbox'],
.cart-bar .delete .all-sellect .mui-checkbox input[type='checkbox'],
.cart-bar .order .all-sellect-delete .mui-checkbox input[type='checkbox'],
.cart-bar .delete .all-sellect-delete .mui-checkbox input[type='checkbox'] {
  left: 0;
  top: 11px;
}
.cart-bar .order .all-price,
.cart-bar .delete .all-price {
  flex: 1;
  padding: 0 10px;
}
.cart-bar .order .all-price .money,
.cart-bar .delete .all-price .money {
  color: #ff5400;
}
.cart-bar .order .order-btn,
.cart-bar .delete .order-btn,
.cart-bar .order .delete-btn,
.cart-bar .delete .delete-btn {
  flex: 0 0 100px;
  text-align: center;
}
.cart-bar .order .order-btn button,
.cart-bar .delete .order-btn button,
.cart-bar .order .delete-btn button,
.cart-bar .delete .delete-btn button {
  width: 100%;
  height: 50px;
  top: 0;
  background: #ff5400;
  border-radius: 0;
  border: 0;
  color: #fff;
}
.cart-bar .order .order-btn button.mui-disabled,
.cart-bar .delete .order-btn button.mui-disabled,
.cart-bar .order .delete-btn button.mui-disabled,
.cart-bar .delete .delete-btn button.mui-disabled {
  background: #ccc;
}
.cart-bar .delete {
  display: none;
}
.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
  color: #ff5400;
}
/*购物车default页面*/
.default-page{
  text-align: center;
  display: none;
}
.default-page .default-text {
  text-align: center;
  color: #ccc;
}
.default-page .mui-input-row button {
  width: 80%;
  text-align: center;
  margin: 10%;
  background: #ff5400;
  color: #fff;
  border: 0;
}
