@import 'common.less';
.mui-bar.mui-bar-tab{
    background: #ff5400;
    .mui-btn{
        width: 100%;
        border-radius: 0;
        font-size: 16px;
        text-align: center;
        height: 38px;
    }
    .mui-btn:active{
        border-color:#ff5400;
    } 
}
