@import 'common.less';

.mui-content{
    p.desc{
        font-size: 14px;
        padding:10px 0;
        color: #333;
    }
    >.mui-table-view:first-child{
        margin-top: 0;
    }
    span{
        color: #999;
        font-size: 12px;
        padding:0 15px;
        line-height: 30px;
        input{
            vertical-align: sub;
            margin-right: 5px;
        }
    }
}

.mui-table-view-cell{
    input{
        margin:0;
        font-size: 14px;
        border-color:transparent;
        padding: 0;
    }
    
}
