.chart {
  height: 230px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
  border: 0;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #ff5400;
}
.mui-card .sale-amount,
.mui-card .sale-price {
  color: #333;
  line-height: 24px;
}
.mui-card .sale-amount span,
.mui-card .sale-price span {
  padding-left: 15px;
  color: #ff5400;
}
.mui-card .mui-table thead tr {
  background: #eee;
}
.mui-card .mui-table thead tr td {
  text-align: center;
  padding: 8px;
}
.mui-card .mui-table tbody tr td {
  text-align: center;
  padding: 8px;
  color: #666;
}
.mui-card .mui-table tbody tr:nth-child(even) {
  background: #eee;
}
