.mui-bar .mui-slider-indicator {
  display: table;
}
.mui-bar .mui-slider-indicator a {
  line-height: 38px;
  display: table-cell;
  overflow: hidden;
  width: 1%;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mui-bar .mui-slider-indicator .filter-option {
  color: #333;
}
.mui-bar .mui-slider-indicator .mui-control-item.mui-active {
  border: 0;
  color: #ff5400;
}
.mui-bar .options {
  position: absolute;
  display: none;
  top: 44px;
  left: 0;
  width: 100%;
}
.mui-bar .options .tea-options {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #fff;
}
.mui-bar .options .tea-options .mui-table-view-cell {
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
}
.mui-bar .options .mui-table-view-cell.mui-active {
  background: #fff;
}
.mui-bar .options .mui-table-view-cell:after {
  display: none;
}
.mui-bar .options .mui-table-view-cell:first-child {
  border-bottom: 1px solid #eee;
}
.mui-bar .options .tag {
  background: #eee;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
}
.mui-bar .options .tag.mui-active {
  background: #ff5400;
  color: #fff;
}
.mui-bar .options .mui-button-row {
  display: flex;
}
.mui-bar .options .mui-button-row button {
  flex: 1;
  text-align: center;
  background: #eee;
  border-radius: 0;
  border: 0;
}
.mui-bar .options .mui-button-row button.mui-active {
  background: #ff5400;
  color: #fff;
}
.mui-table-view .mui-table-view-cell {
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
}
.mui-table-view .mui-table-view-cell .tea-name {
  margin-bottom: 10px;
}
.mui-table-view .mui-table-view-cell .tea-name .tea-price {
  color: #ff5400;
}
.mui-table-view .mui-table-view-cell .tag-box {
  font-size: 12px;
  line-height: 18px;
}
.mui-table-view .mui-table-view-cell .tag-box .tea-tag {
  padding: 3px;
  border: 1px solid #666;
  border-radius: 3px;
  margin-right: 15px;
}
.mui-table-view .mui-table-view-cell .tag-box .tea-num {
  color: #ccc;
}
