<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="log.base" value="./log/star" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[HDLS][%-5level][%d{yyyy-MM-dd HH:mm:ss}][%c]:%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[HDLS][%-5level][%d{yyyy-MM-dd HH:mm:ss}][%c]:%msg%n</pattern>
		</encoder>
	</appender>

	<!-- <logger name="org.huadalink.framework" level="DEBUG" /> -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>