.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-toast-container {
  bottom: 50%;
}
.mui-content {
  padding-top: 0;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0;
}
.mui-table-view-cell h3 {
  padding: 5px 0;
  line-height: 24px;
}
.mui-table-view-cell p {
  line-height: 36px;
}
.mui-table-view-cell .price,
.mui-table-view-cell .count {
  color: #333;
}
.mui-table-view-cell .total-price,
.mui-table-view-cell .total-pay {
  color: #ff5400;
}
.mui-table-view-cell:nth-child(2) p {
  color: #333;
}
