.mui-bar {
  background: #322b27;
}
.mui-bar .mui-icon,
.mui-bar .mui-title {
  color: #fff;
}
.mui-bar .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-bar.mui-bar-tab {
  background: #ff5400;
}
.mui-bar.mui-bar-tab .mui-btn {
  width: 100%;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  height: 38px;
}
.mui-bar.mui-bar-tab .mui-btn:active {
  border-color: #ff5400;
}
