.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-toast-container {
  bottom: 50%;
}
.mui-bar {
  box-shadow: none;
}
.nav-bar {
  display: flex;
  background: #322b27;
  position: relative;
}
.nav-bar .nav-item {
  flex: 1;
  text-align: center;
  line-height: 40px;
}
.nav-bar .nav-item span.icon-calendar {
  font-size: 24px;
  color: #fff;
  vertical-align: sub;
}
.nav-bar .nav-item span.icon-calendar:before {
  color: #fff;
}
.nav-bar .nav-item a {
  color: #fff;
}
.nav-bar .nav-item a span {
  padding: 0 2px;
}
.nav-bar .nav-item:nth-child(2) {
  flex: 0 0 200px;
  width: 200px;
}
.nav-bar .nav-item:nth-child(2) .inner-box {
  padding: 0 6px;
  background: #76675f;
  border-radius: 4px;
  line-height: 28px;
  margin: 6px 0;
}
.nav-bar .nav-item:nth-child(2) .inner-box a,
.nav-bar .nav-item:nth-child(2) .inner-box span {
  line-height: 28px;
  vertical-align: top;
}
.nav-bar .nav-item:nth-child(2) .inner-box .icon-arrow:before {
  color: #fff;
  font-size: 20px;
}
.nav-bar .year-select,
.nav-bar .month-select,
.nav-bar .options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  z-index: 10;
}
.nav-bar .year-select a {
  display: block;
  padding: 15px;
  color: #333;
}
.nav-bar .year-select a.mui-active {
  color: #ff5400;
}
.nav-bar .month-select .month-option {
  display: flex;
}
.nav-bar .month-select .month-option a {
  flex: 1;
  color: #333;
  padding: 15px;
}
.nav-bar .month-select .month-option a.mui-active span {
  padding: 5px;
  border-radius: 20px;
  background: #ff5400;
  color: #fff;
}
.nav-bar .options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar .options .options-item a {
  display: block;
  padding: 15px;
  color: #333;
}
.nav-bar .options .options-item.mui-active {
  background: #f0f0f0;
}
.mui-content .mui-scroll-wrapper {
  top: 88px;
}
.mui-table-view .mui-table-view-cell table tr td {
  padding: 7.5px;
}
.mui-table-view .mui-table-view-cell table tr .bill-content {
  color: #ff5400;
}
.mui-table-view .mui-table-view-cell table tr .bill-time,
.mui-table-view .mui-table-view-cell table tr .bill-desc-content {
  color: #999;
}
.mui-bar-nav~.mui-content .mui-pull-top-pocket{
	top:0;
}
