.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-toast-container {
  bottom: 50%;
}
.mui-bar.mui-bar-tab {
  background: #ff5400;
}
.mui-bar.mui-bar-tab .mui-btn {
  width: 100%;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  height: 38px;
}
.mui-bar.mui-bar-tab .mui-btn:active {
  border-color: #ff5400;
}
.mui-content {
  padding-top: 0;
}
.mui-table-view .mui-table-view-cell .name-box {
  line-height: 30px;
}
.mui-table-view .mui-table-view-cell .name-box span {
  color: #ff5400;
  font-size: 16px;
}
.mui-table-view .mui-table-view-cell .name-box a {
  color: #444;
  margin-right: 10px;
}
.mui-table-view .mui-table-view-cell .name-box a i {
  font-size: 18px;
  padding-right: 6px;
}
.mui-table-view .mui-table-view-cell .address .default {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 15px;
}
.no-address {
  padding: 15px;
  padding-top: 70%;
  background: none;
  background-image: url('../../images/resourse_03.png');
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
