.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-toast-container {
  bottom: 50%;
}
.mui-content {
  padding-top: 0;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0;
}
.mui-content .mui-table-view {
  background: none;
}
.mui-content .mui-table-view .mui-table-view-cell:first-child {
  text-align: center;
  margin-bottom: 10px;
}
.mui-content .mui-table-view .mui-table-view-cell:first-child .app-logo {
  padding: 20px 0 17px 0;
}
.mui-content .mui-table-view .mui-table-view-cell {
  background: #fff;
  padding: 15px;
  color: #666;
}
.mui-content .mui-table-view .mui-table-view-cell .phone {
  color: #ff5400;
}
