.mui-bar-nav {
  background: #322b27;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title {
  color: #fff;
}
.mui-bar-nav .mui-btn {
  background: none;
  color: #fff;
  border: 0;
}
.mui-bar-nav .mui-btn:active {
  background: none;
  color: ff5400;
}
.mui-content {
  padding-top: 44px;
}
.mui-content .mui-table-view:before {
  display: none;
}
.mui-content .mui-table-view:first-child {
  margin-top: 0;
}
.mui-button-row {
  margin-top: 170px;
  padding: 0 10%;
}
.mui-button-row button {
  margin-bottom: 0;
  padding: 8px 0;
  background: #fe5400;
  border: 0;
  color: #fff;
}
.set-password .mui-table-view .show-setter {
  margin-right: -30px;
}
.feedback .mui-input-row {
  height: auto;
}
.feedback textarea {
  height: 200px;
}
.feedback .text-num-row {
  padding: 15px;
}
.feedback .mui-button-row {
  margin-top: 40px;
}
.feedback .mui-btn.mui-disabled {
  background: #ccc;
}
